In [2]:
import pandas as pd


# Replace 'your_file.csv' with the path to your CSV file
csv_file = 'Twitter_Data.csv'
df = pd.read_csv(csv_file)

from sqlalchemy import create_engine

# Replace 'my_database.db' with your desired database file name
database_file = 'sqlite:///my_database.db'
engine = create_engine(database_file)


# Replace 'my_table_name' with your desired table name
df.to_sql('my_table_name', con=engine, index=False, if_exists='replace')

SyntaxError: invalid syntax (1918528467.py, line 2)

In [3]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/aa/1c/0b66318368b1c9ef51c5c8560530b8ef842164e10eea08cacb06739388e0/SQLAlchemy-2.0.23-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading SQLAlchemy-2.0.23-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/envs/bigdata/lib/python3.10/site-packages (from sqlalchemy) (4.8.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Obtaining dependency information for greenlet!=0.4.17 from https://files.pythonhosted.org/packages/da/ab/7cc6502628565d70dce2edb619d87554d65ac4e2f17c805a5a45bfaefa5c/greenlet-3.0.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata
  Downloading greenlet-3.0.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.7 kB)
Downloading SQLAlchemy-2.0.23-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 17.4 MB/s eta 0:00:0000:0100:01
Downloading greenlet-3.0.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (613 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 613.2/613.2 kB 40.3 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.1 sqlalchemy-2.0.23

In [4]:
import pandas as pd


# Replace 'your_file.csv' with the path to your CSV file
csv_file = 'Twitter_Data.csv'
df = pd.read_csv(csv_file)

from sqlalchemy import create_engine

# Replace 'my_database.db' with your desired database file name
database_file = 'sqlite:///my_database.db'
engine = create_engine(database_file)


# Replace 'my_table_name' with your desired table name
df.to_sql('my_table_name', con=engine, index=False, if_exists='replace')

162980

In [5]:
pd.read_sql('SELECT * FROM my_table_name', con=engine)

                                               clean_text  category
0       when modi promised “minimum government maximum...      -1.0
1       talk all the nonsense and continue all the dra...       0.0
2       what did just say vote for modi  welcome bjp t...       1.0
3       asking his supporters prefix chowkidar their n...       1.0
4       answer who among these the most powerful world...       1.0
...                                                   ...       ...
162975  why these 456 crores paid neerav modi not reco...      -1.0
162976  dear rss terrorist payal gawar what about modi...      -1.0
162977  did you cover her interaction forum where she ...       0.0
162978  there big project came into india modi dream p...       0.0
162979  have you ever listen about like gurukul where ...       1.0

[162980 rows x 2 columns]