In [3]:
import praw

In [8]:
reddit = praw.Reddit(
    client_id="",
    client_secret="",
    password="",
    user_agent="",
    username="",
)

In [9]:
print(reddit.user.me())

yonirog158

In [10]:
for mod in reddit.subreddit("events").moderator():
  print(mod)

ShaneH7646

In [16]:
# Create a submission to r/test
# reddit.subreddit("test").submit("Test Submission by me", url="https://reddit.com")

Submission(id='182bpfa')

In [19]:
reddit.comment(id='182bpfa')

Comment(id='182bpfa')

In [22]:
subreddit = reddit.subreddit('events')
for submission in subreddit.new(limit=20):
    print("Submission Title: {}".format(submission.title))

Submission Title: Any good Whova alternatives?
Submission Title: Sample of a storytelling page
Submission Title: How do you make a virtual social event fun?
Submission Title: Best event insurance?
Submission Title: Best Hopin Alternatives
Submission Title: Virtual Event Platform Features - Samaaro
Submission Title: Hybrid Events & Their Importance To Drive Better ROI in 2022
Submission Title: Best Practices From Working With World-Class Engineering Teams with Vanja Josifovski
Submission Title: Balloon decor, garlands and more
Submission Title: What was the best event you have ever been to?
Submission Title: What Is Gamification & Its Importance In 2022? (With Examples)
Submission Title: Event survived through Covid
Submission Title: Josh wraps up third edition of ‘World Famous’ talent hunt in Jaipur
Submission Title: Wedding Choreographers In Delhi
Submission Title: Best Virtual Trade Show Platform to Host Virtual Trade Shows - Samaaro
Submission Title: Event Marketing Strategies | Marketing Current Events
Submission Title: I DID IT PERFECTLY!! ALL 2'S BABY!!!!!
Submission Title: Ways to measure Success At Your Next Experiential Event
Submission Title: Best Virtual Exhibition Platform to Host Virtual Exhibitions - Samaaro
Submission Title: How to manage an engineering team

### Data exploration

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv('./data/sentiment140.csv', encoding = "ISO-8859-1")
df.columns = ['target', 'id', 'date', 'flag', 'user', 'text']

In [5]:
df.shape

(1599999, 6)

In [6]:
df['target'].value_counts()

4    800000
0    799999
Name: target, dtype: int64

In [86]:
df.head()

,target,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

target: the polarity of the tweet (0 = negative, 4 = positive)

ids: The id of the tweet

date: the date of the tweet

flag: The query (lyx). If there is no query, then this value is NO_QUERY.

user: the user that tweeted

text: the text of the tweet

In [80]:
df['target'].value_counts()

4    800000
0    799999
Name: target, dtype: int64

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1599999 non-null  int64
 1   id      1599999 non-null  int64
 2   date    1599999 non-null  object
 3   flag    1599999 non-null  object
 4   user    1599999 non-null  object
 5   text    1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

Checking datatypes of all columns

In [83]:
df.dtypes

target     int64
id         int64
date      object
flag      object
user      object
text      object
dtype: object

Checking for null values in dataset

In [92]:
np.sum(df.isnull())

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [7]:
df1 = pd.read_csv('./data/Twitter_Data.csv')

In [8]:
df1['category'].value_counts()

 1.0    72250
 0.0    55213
-1.0    35510
Name: category, dtype: int64

In [9]:
df1[df1['clean_text'].isnull() | df1['category'].isnull()]

                                               clean_text  category
148                                                   NaN       0.0
130448  the foundation stone northeast gas grid inaugu...       NaN
155642  dear terrorists you can run but you cant hide ...       NaN
155698  offense the best defence with mission shakti m...       NaN
155770  have always heard politicians backing out thei...       NaN
158693  modi government plans felicitate the faceless ...       NaN
158694                                                NaN      -1.0
159442               chidambaram gives praises modinomics       NaN
159443                                                NaN       0.0
160559  the reason why modi contested from seats 2014 ...       NaN
160560                                                NaN       1.0

In [20]:
df2 = df1[(df1['category'] == -1) | (df1['category'] == 1)]

In [21]:
df2.to_csv('./data/Twitter_Data2.csv')

In [22]:
df2['category'].value_counts()

 1.0    72250
-1.0    35510
Name: category, dtype: int64